/**------------------------------------------EFFETTI INTERATTIVI--------------------------------------------------*/
.btnNew:hover, #telButton:hover {
    background-color: white;
    transition: 900ms;
    /* padding: 7.5px; */
  }
  
  .nav-link:hover {
    background-color: var(--colore2);
    border-radius: 4px;
    transition: 200ms;
  }