/*MEDIA QUERIES TABLET*/
@media screen and (min-width: 767px) and (max-width: 1023px) {

    /**---------------------------NAVBAR------------------------*/
    p, #servizi ul li {
        font-size: 1.3rem;
    }

    nav {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        background-color: var(--colore1);
        z-index: 1002;
        box-shadow: 0px 0px 5px 1px rgba(10, 31, 59, 0.6);
        height: 7vh;
    }

    #logo {
        width: 80%;
        height: 5vh;
        background-image: url(/assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        /* border: 2px solid yellowgreen; */
        margin-bottom: 1vh;
        margin-left: 1vw;
        /* padding: 10px; */
    }

    #header ul {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: flex-end;
        padding-left: 0 !important;
        padding-right: 1vw !important;
        /* border: 2px solid red; */
    }

    #header ul li {
        text-align: center;
        margin-left: 1vw;
        margin-right: 1vw !important;
        padding-right: 1vw;
        width: 100%;
        color: var(--colore4);

    }

    .nav-link {
        text-align: center;
        text-transform: uppercase;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.2em;
        width: 13vw;
        /* border: 2px solid greenyellow; */
    }

    /**------------------------------------ CHI SIAMO -------------------------------*/
    #chiSiamo {
        padding: 2vh 0;
    }

    .textFixed{
        font-size: 1.3rem;
    }

    /**------------------------------COSA FACCIAMO----------------------------*/
#servizi{
    padding: 2vh 0;
}
    #servizi ul {
        width: 90%;
        padding-bottom: 2vh;
        margin-left: 4vw;
    }

    #servizi ul li {
        padding-top: 2vh;
    }

/**------------------------------CAROSELLI--------------------------*/
    #galleria div img {
        height: 40vh;

    }

    #galleria2 div img {
        height: auto;
    }


/**-------------------------------------------- IL NOSTRO METODO ---------------------------------------------*/
#nostroMetodo{
    padding: 2vh 0;
}
#nostroMetodo div:nth-child(2){
    margin-top: 2vh;
}
#nostroMetodo div div{
    padding-top: 3vh;
}
#nostroMetodo div div p{
    margin-left: 5vw;
}

.focus{
    padding: 1vh 0;
}

/**------------------------------------------- FORM -------------------------------------------------*/
#contatti {
    padding: 2vh 0;
}

#contatti p {
    width: 80%;
    text-align: center;
}

#contatti p a {
    font-size: 1.8rem;
    color: rgb(9, 211, 9);
}

fieldset {
    width: 100%;
}

label {
    font-size: 1.3rem;
}

/**------------------------------------------ FOOTER -----------------------------------------------*/
.smallText{
font-size: 1.2rem;
}

}
/*MEDIA QUERIES LAPTOP*/
@media screen and (min-width: 1024px) {}