/*!---------------------------------------------- MQ TABLET ------------------------------------------------*/

/*?MEDIA QUERIES TABLET*/
@media screen and (min-width: 767px) and (max-width: 1023px) {

    /**----------------------------- NAVBAR ------------------------*/

    nav {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        background-color: var(--colore1);
        z-index: 1002;
        box-shadow: 0px 0px 5px 1px rgba(10, 31, 59, 0.6);
        height: 7vh;
    }

    #logo {
        width: 80%;
        height: 5vh;
        background-image: url(/assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        /* border: 2px solid yellowgreen; */
        margin-bottom: 1vh;
        margin-left: 1vw;
        /* padding: 10px; */
    }

    #header ul {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: flex-end;
        padding-left: 0 !important;
        padding-right: 1vw !important;
        /* border: 2px solid red; */
    }

    #header ul li {
        text-align: center;
        margin-left: 1vw;
        margin-right: 1vw !important;
        padding-right: 1vw;
        width: 100%;
        color: var(--colore4);


    }

    .nav-link {
        text-align: center;
        text-transform: uppercase;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.2em;
        width: 13vw;
        /* border: 2px solid greenyellow; */
    }

    /**------------------------------ CHI SIAMO -------------------------------*/
    #chiSiamo {
        padding: 2vh 0;
    }

    .textFixed {
        font-size: 1.3rem;
    }

    /**------------------------------ COSA FACCIAMO----------------------------*/

    #cosaFacciamo ul li {
        font-size: 1.3rem;
    }

    #cosaFacciamo {
        padding: 2vh 0;
    }

    #cosaFacciamo ul {
        width: 90%;
        padding-bottom: 2vh;
        margin-left: 4vw;
    }

    #cosaFacciamo ul li {
        padding-top: 2vh;
    }

    /**----------------------------- CAROSELLI--------------------------*/
    #galleria div img {
        height: 40vh;

    }

    #galleria2 div img {
        height: auto;
    }


    /**---------------------------- IL NOSTRO METODO ---------------------------------------------*/
    #nostroMetodo {
        padding: 2vh 0;
    }

    #nostroMetodo div:nth-child(2) {
        margin-top: 2vh;
    }

    #nostroMetodo div div {
        padding-top: 3vh;
    }

    #nostroMetodo div div p {
        margin-left: 5vw;
    }

    .focus {
        padding: 1vh 0;
    }

    #risultatoGarantito {
        /* border: 2px red solid; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #risultatoGarantito p {
        margin: 0px !important;
        padding: 0px !important;
        /* border:  1px solid white; */
        font-size: x-large;
    }

    .affidabilità {
        /* border:  2px solid red; */
        margin-bottom: 8vh;
        margin-left: 8vw;
        width: 100%;
    }

    /**--------------------------- FORM -------------------------------------------------*/
    #contatti {
        padding: 2vh 0;

    }

    #contatti p {
        width: 80%;
        text-align: center;
    }

    #contatti p a {
        font-size: 1.8rem;
        color: rgb(9, 211, 9);
    }

    fieldset {
        width: 100%;
    }

    label {
        font-size: 1.3rem;
    }

    /**--------------------------- FOOTER -----------------------------------*/
    .smallText {
        font-size: 1.2rem;
    }
}


/*!---------------------------------------------- MQ LAPTOP ------------------------------------------------*/

/*?MEDIA QUERIES LAPTOP*/
@media screen and (min-width: 1080px) {

    /**---------------------------  NAVBAR -----------------------------------*/
    .navGlass {
        background: rgba(0, 0, 12, 0.80);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(2.5px);
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    nav {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: var(--colore1);
        z-index: 1002;
        box-shadow: 0px 0px 5px 1px rgba(10, 31, 59, 0.6);
        height: 11vh;
    }

    #logo {
        width: 80%;
        height: 7vh;
        background-image: url(/assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 1vh;
        margin-left: 4vw;

    }

    #header ul {
        list-style: none;
        margin-top: 5vh;
        margin-bottom: 0;
        width: 100%;
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: flex-end;
        padding-left: 0 !important;
        padding-right: 1vw !important;
        margin-right: 1vw;
    }

    #header ul li {
        text-align: center;
        margin-left: 1vw;
        margin-right: 1vw !important;
        margin-top: 2vh;
        padding-right: 1vw;
        width: 100%;
        color: var(--colore4);
        height: auto;
        font-size: large;
    }

    .nav-link {
        text-align: center;
        text-transform: uppercase;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.2em;
        width: 9vw;
    }

    /**------------------------ MAIN --------------------------------*/
    #fondo {
        top: 9.5vh;
    }

    section {
        height: 60vh;
        width: 40%;
    }

    #primaRow {
        display: flex;
        flex-direction: row;
    }

    #secondaRow {
        display: flex;
        flex-direction: row;
        height: 85vh;
    }

    #secondaRow section {
        height: 90%;
    }

    #terzaRow {
        display: flex;
        flex-direction: row;
        /* border: 2px solid rgb(11, 195, 11); */
        width: 100%;
        height: auto;
    }

    /**------------------------- CHI SIAMO -------------------------------*/
    #chiSiamo {
        padding: 2vh 0;
    }

    .textFixed {
        font-size: 1.4rem;
    }

    #intro {
        /* border: 2px red solid; */
        position: relative;
        bottom: 8%;
        left: 10px;
    }

    /**------------------------- CAROSELLO --------------------------------------------*/
    #galleria {
        background-color: transparent;
        width: 46vw;
    }

    #galleria div img {
        height: 60vh;
        padding: 10px 2vw;
        border-radius: 5% 5% 5% 5% / 3% 3% 3% 3%;

    }

    /**------------------------- COSA FACCIAMO --------------------------------------*/
    #cosaFacciamo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cosaFacciamo div ul li {
        font-size: 1.14rem;
        width: 100%;
        /* border: 2px white solid; */

    }

    #listaServizi {
        /* border: 2px solid yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8%;
        /* border: 2px solid violet; */

    }

    #listaServizi ul {
        /* border: 2px solid violet; */
        padding-top: 8px;
        width: 100%;
        padding: 0;
        margin: 0px 0px;
        position: relative;
        top: 8vh;

    }

    #listaServizi ul li {
        /* border: 2px solid violet; */
        width: 100%;
        padding: 0;
        margin: 0 0;
        margin-left: 20px;
    }

    #cosaFacciamo div h2 {
        /* margin-top: 0%; */
        /* border: 2px solid brown; */
        position: absolute;
        top: 4vh;

        width: 100%;

    }

    #cosaFacciamo ul {
        width: 80%;
        margin: 0;
        padding-bottom: 5vh;
    }

    #cosaFacciamo ul li {
        font-size: 1.3rem;
        padding-top: 2vh;
    }

    #cosaFacciamo {
        /* padding: 2vh 0; */
    }

    /**-------------------------- IL NOSTRO METODO---------------------------------------------*/
    #nostroMetodo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nostroMetodo div h2 {
        margin-top: 5vh;
    }

    #nostroMetodo div {
        margin: 0;
        padding: 0;
        padding-bottom: 2vh;
    }

    #nostroMetodo div span h4 {
        margin-left: 1vw;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    #nostroMetodo div p {
        margin-left: 1vw;
        margin-bottom: 3vh;
    }

    .focus {
        margin: 0 auto;
        padding-top: 0;
    }

    .icon {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: white 1px solid;
    }

    .icon div i {
        color: var(--colore2);
        margin: 0 auto;
    }

    .textLaptop {
        position: absolute;
        width: 100%;
        /* padding-top: 8vh; */
        font-size: 1.4rem;
        text-align: center;
        /* border: 2px solid red; */
        left: -2vh;
        bottom: 0px;
        top: 90%
    }

    #risultatoGarantito {
        /* border: 2px red solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
    }

    #risultatoGarantito p {
        width: 100%;
        height: 15%;
        margin: inherit !important;
        padding: 0px 0px !important;
        /* border:  3px solid rgb(184, 21, 21); */
    }

    .affidabilità {
        /* border:  2px solid red; */
        margin-left: 8vw;
        width: 75%;
    }

    /**-------------------------------------- CAROSELLO CLIENTI ------------------------------*/
    /*?-----clienti------*/
    #partner {
        background-color: transparent;
        /* width: 36%; */
    }

    #galleria2 div img {
        height: 50vh;
        padding: 10px 2vw;
        border-radius: 5% 5% 5% 5% / 3% 3% 3% 3%;
    }

    /**--------------------------- FORM -------------------------------------------------*/
    #contatti {
        padding: 2vh 0;
        height: auto;
    }

    #contatti p {
        width: 80%;
        text-align: center;
        font-size: 1.3rem;
    }

    #contatti p a {
        font-size: 1.8rem;
        color: rgb(9, 211, 9);
    }

    fieldset {
        width: 100%;
    }

    label {
        font-size: 1.3rem;
    }

    .modale {
        width: 78vw;
        height: 70vh;
        z-index: 102;
        /* background-color: var(); */
        /* border: red 2px solid !important; */
        position: fixed;
        top: 12vh;
        right: 11vw;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        border-radius: 5%;
    }

    .modale div {
        width: 80%;
        height: auto;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* border: 2px solid red; */
    }

    .testoModale {
        /* border: 4px dotted green !important; */
        position: absolute;
        top: 16%;
        font-size: xx-large
    }

    .closeButton {
        /* color: red; */
        position: absolute;
        top: 18px;
        right: 24px;
        font-size: x-large;
    }

    #formModale {
        /* background-color: #25D366!important; */
        display: flex;
        flex-direction: row;
        /* border: 4px dotted green !important; */
        position: absolute;
        bottom: 6%;
        width: 50%;
    }

    .campi1 {
        /* border: 2px dotted yellow; */
        margin-bottom: 13%;        
    }

    .modalBox1 {
        /* border: 2px rgb(219, 12, 226) dotted;
         */
        /* position: absolute; */
        bottom: 0;
        right: 0;
        margin-top: -6vh;
    }

    #telButton {
        /* border: 2px solid red; */
        width: auto;
        margin-left: 0vw;
        margin-top: -18vh;
        padding-top: 6px;
    }

    /**---------------------------- NAVE -------------------------------------*/
    .boxNave {
        position: absolute;
        left: 12vw;
        top: -56vh !important;
        display: flex;
        z-index: 200000;
        rotate: 90deg;
        height: 60vh;
        width: 10vw;
        scale: 0.95;
    }

    /**--------------------------- FOOTER -----------------------------------*/
    .smallText {
        font-size: 1.2rem;
    }

    #footer {
        /* border: 4px solid rgba(213, 11, 11, 0.25); */
        padding-top: 7vh;
        padding-bottom: 7vh;
        height: 15vh;
        position: absolute;
        bottom: 0;
    }

    .textFixed, p, li {
        font-size: 1.4rem !important;
    }

    .show {
        width: 40vw;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.84);
        position: fixed;
        top: 5vh;
        left: 30vw;
        z-index: 1999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--secondario)
    }

    .showMod {
        display: none;
    }

}