* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: auto;
  width: 100vw;
  background-color: var(--colore1);
}

body {
  background-color: transparent;
  height: auto;
  width: 100vw;
}

/**--------------------------------------------- GENERICI ------------------------------------------*/
.absolute {
  position: absolute;
}

.mostra {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  top: 40%;
  z-index: 10000;
}

.svuota {
  border: black 2px solid !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  background-image: unset !important;
}

.filtroMare {
  width: 100%;
  height: 100%;
  /* top: 100px; */
  background-color: rgba(0, 100, 255, 0.25);
  z-index:
    65;
}

.filtroNave {
  width: 100%;
  height: 100%;
  /* top: 100px; */
  background-color: rgba(100, 95, 77, 0.05);
  z-index:
    65;
}

.filtroGradientGray {
  background: var(--transpGray);
}

.filtroInvGradientGray {
  background: var(--transpGrayInverted);
}

.nascondi {
  display: none !important;
}

.centro {
  margin: 0 auto;
}

.resetBootstrap {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

.centraturaFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upperText {
  text-transform: uppercase;
}

.giustificato {
  text-align: start;

}

.segnaposto {
  height: auto;
  width: 100%;
  border-bottom: 1px var(--colore4) dashed;
  border-top: 1px var(--colore4) dashed;
  padding: 20px 0;
}

.selfAlign {
  display: flex;
  align-self: center;
}

.ombra {
  box-shadow: inset 0px 0px 4px 1px var(--colore4);
}

.evidenziato {
  font-size: larger;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.marginTop {
  margin-top: 15px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 90%;
}

.bold {
  font-weight: 800;
}

.semiBold {
  font-weight: 700;
}

.corsivo {
  font-style: italic;
}

.glass {
  background: rgba(195, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.blackGlass {
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.navGlass {
  background: rgba(195, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

/**------------------------------------------------- NAVBAR ---------------------------------------------------*/
nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  /* grid-column-end: auto; */
  background-color: var(--colore1);
  /* background-image: var(--gradienteBlu) !important; */
  /* border-bottom: 1px solid var(--colore4); */
  z-index: 1002;
  box-shadow: 0px 0px 5px 1px rgba(10, 31, 59, 0.6);

}

#logo {
  width: auto;
  height: 50%;
  min-width: 200px;
  max-width: 300px;
  min-height: 40px;
  max-height: 80px;
  /* border: #25D366 2px solid; */
  background-image: url(/assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#header-img {
  width: auto;
  height: 60%;
  margin: 4px 0px;
  position: absolute;
  top: 0;

}

a {
  text-decoration: none;
  color: var(--colore4);
}

#header ul {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 0 !important;
  padding-right: 10vw !important;

}

#header ul li {
  text-align: right;
  margin-left: 6.5vw;
  margin-right: 6.5vw !important;
  padding-right: 2.5vw;
  width: 100%;
  color: var(--colore4);
}

.nav-link {
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2em;
  width: 33vw;
}

.bordoRosso {
  border: 3px red solid;
}

.myShadow {
  -webkit-box-shadow: 0 -13px 14.5px -18px #dddddd;
  -moz-box-shadow: 0 -13px 14.5px -18px #dddddd;
  box-shadow: 0 -13px 14.5px -18px #dddddd;

}

/**------------------------------------ MAIN ------------------------------------*/
#fondo {
  position: absolute;
  top: 5.7vh;
  height: auto;
  width: 100vw;
  z-index: 1;
}

main {
  background: url(/assets/images/mare.jpeg);
  background-size: cover;
  z-index: 1;
  padding-bottom: 10vh;
  margin-bottom: 10vh;
}

#sectionBox {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px auto 20px auto;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}

section {
  position: relative;
  z-index: 101;
  color: white;
  margin: 5vh auto 5vw auto;
  width: 80%;
  padding: 0;
  border-radius: 5%;
}

section p {
  position: relative;
  top: 15%;
  width: 100%;
}

/**------------------------------------ CHI SIAMO -------------------------------*/
#teaser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;

}

#headLineBox {
  position: absolute;
  top: 0;
}

.headLine {
  z-index: 101;
  /* border: yellow 2px solid; */
  text-align: center;
  padding-top: 8px;
}

/**-------------------------------------------- CAROSELLO --------------------------------------------*/

#galleria {
  background-color: transparent;
}

#galleria div {
  border-radius: 5%;
}

#galleria div img {
  height: 24vh;
}

/*?-----clienti------*/
#galleria2 {
  background-color: transparent;
}

#galleria2 div {
  border-radius: 5% 5% 5% 5% / 0% 0% 5% 5%;
  ;
}

#galleria2 div img {
  height: 24vh;
}

/**-------------------------------------------- PUNTI FORTI AZIENDA ---------------------------------------------*/
#focusPoint {}

#focusPoint div span h4 {
  text-decoration: underline;
  text-underline-offset: 6px;
  margin-left: 6vw;
}

#focusPoint div p {
  margin-left: 3vw;
}

.focus {
  margin: 0 auto;
}

.icon {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
}

i {
  filter: drop-shadow(2px 2px 2px var(--colore2));
  padding-right: 8px;
}

.icon div i {
  color: var(--colore2);
  margin: 0 auto;
}

/**-------------------------------------- PARTNER -----------------------------------------*/
#partner {}

.partnerLogo {
  height: 70px;
  width: 65%;
  background-color: var(--colore1);
  margin: 8px 8px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**------------------------------------------- FORM -------------------------------------------------*/
#contatti {
  border-radius: var(--radius3);
}

form {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: white 3px solid;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-left: var(--colore3) 3px solid;
  border-right: var(--colore3) 3px solid;
  box-shadow: var(--ombraPiramide);
}

form input {
  width: 30vw;
  height: 1.5rem;
  max-width: 400px;
  margin: 25px auto;
  align-self: center;
}

/**------------------------------------------ FOOTER -----------------------------------------------*/
footer {
  z-index: 10001;
  background-color: var(--colore4);
  color: wheat;
  position: absolute;
  bottom: 0;
  height: 10vh;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** ------------------------------------------ BOTTONI ------------------------------------------------*/

#hamburger {
  background-color: none !important;
  margin-right: 2.5vw;
  border: none !important;
  box-shadow: none !important;
  position: absolute;
  top: 2vh;
  right: 4vw;
}

.btnNew {
  background-color: var(--colore2);
  border-radius: 8px;
  height: 1.9rem;
  margin: 25px auto;
  align-self: center;
  display: block;
  max-width: 200px;
  min-width: 150px;
  font-weight: 600;
  color: #070604;
  padding: 2px;
  box-shadow: var(--sfumaturaInterna);
}

#telButton {
  position: fixed;
  bottom: 10vh;
  right: 1vw;
  border-radius: 50%;
  z-index: 20001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#telButton i {
  color: #25D366;
}

.email {
  max-width: 200px;
  min-width: 150px;
}