* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--colore3)
}

:root {
  --colore1: #00DCFF;
  --colore2: #4E9BAE;
  --colore2: #8CAFCE;
  --colore3: #aefcff;
  --colore4: #372b4a;
  --colore5: #90D279;
  --text1: #E6F4F1;
  --text2: rgba(254, 255, 249, 1);
  --gradiente: linear-gradient(to bottom, #00dcff, #4dd0f7, #6bc5ec, #7fbade, #8cafce);
  --invertedGradient: linear-gradient(to top, #00dcff, #4dd0f7, #6bc5ec, #7fbade, #8cafce);
}

/*NAVBAR*/
#header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  grid-column-end: auto;
  background-image: var(--gradiente) !important;
  border-bottom: 1px solid var(--colore2);
  z-index: 101;
  box-shadow: 0px 0px 7px 1px rgba(10, 31, 59, 0.6);
}

#logo {
  width: 25vw;
  height: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 40px;
  max-height: 80px;
}

#hamburger {
  background-color: var(--colore2) !important;
  margin-right: 2.5vw;
}

#header-img {
  width: 100%;
  height: auto;
  min-width: 220px;
  margin: 4px 0px;
}

a {
  text-decoration: none;
  color: var(--colore4);
}

#header ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
}

#header ul li {
  text-align: left;
  margin-left:6.5vw;
  margin-right: 0px !important;
  padding-right: 2.5vw;
  width: 100%;
}

.nav-link {
  /* width: 30vw !important; */
  text-align: center;
  text-transform: uppercase;
  height: 100%;  
  align-items: center;
  justify-content: center;
  font-weight: 700;  
  font-size: 1.2em;
  width: 33vw;
}

/*MAIN*/
main {
  position: absolute;
  top: 8vh;
  height: auto;
}

main {
  position: relative;
}

form {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form input {
  width: 30vw;
  height: 1.5rem;
  max-width: 400px;
  margin: 25px auto;
  align-self: center;
  display: block;
}

#focusPoint {
  max-width: 85vw;
  min-width: 260px;  
}

.icon {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: RED 1px solid;
  
}
i{
  filter: drop-shadow( 2px 2px 2px var(--colore2));
  padding-right: 8px;
}

.icon div i {
  color: var(--colore2);
  margin: 0 auto;
  
}

/*PARTNER*/
#partner {
  margin: 4rem auto;
  padding: 1vh 0;
  width: 100%;
  max-width: 700px;
  height: 40vh;
}

.partnerLogo {
  height: 70px;
  width: 40%;
  background-color: var(--colore1);
  margin: 8px 8px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingCard {
  width: 100%;
  height: 20%;
  margin: 0 auto;
  background-color: var(--colore2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBody {
  margin: 20px auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start
}

.card>.cardBody>p:first-child {
  color: var(--text2);
  margin: 0 auto;
  font-size: 1.3em;
  margin-bottom: 10px;
}

footer {
  position: relative;
  bottom: 0;
  height: 6vh;
  width: 100%;
  background-image: var(--invertedGradient);
  box-shadow: 0px 0px 7px 1px rgba(10, 31, 59, 0.6);
  border: solid 1px var(--colore2);
  z-index: 101;
}

/*CAROSELLO*/

#carosello {
  width: 45%!important;
  height: auto !important;
  /* border: #372b4a 4px solid; */
  margin: 0 auto;
}

#carosello div img {
  height: 180px !important;
  width: 180px !important;
}

/*BOTTONI*/
.btnNew {
  background-color: var(--colore2);
  border-radius: 8px;
  height: 1.9rem;
  margin: 25px auto;
  align-self: center;
  display: block;
  max-width: 200px;
  min-width: 150px;
  font-weight: 600;
  color: #070604;
  padding: 2px;
}

#telButton {
  position: fixed;
  bottom: 8vh;
  right: 8vw;
  background-color: rgb(22, 242, 22);
  border-radius: 50%;
  z-index: 101;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
}

#telButton div svg {
  color: var(--colore4);
  height: 4vh;
}

.email {
  max-width: 200px;
  min-width: 150px;
}

/***GENERICI****/

.resetBootstrap{
box-sizing: border-box;
margin: 0 !important;
padding: 0 !important;
}
.centraturaFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
 .upperText{
text-transform: uppercase;
 }
 .giustificato{
  text-align:start;
  
 }

.segnaposto {
  height: auto;
  width: 100%;
  border-bottom: 1px var(--colore4) dashed;
  border-top: 1px var(--colore4) dashed;
  padding: 20px 0;
}

.selfAlign{
display: flex;  align-self: center;
}

.rightAlign{
  display: flex;
  justify-content: end;
  align-items: end;
}

.ombra {
  box-shadow: inset 0px 0px 4px 1px var(--colore4);
}

.evidenziato {
  font-size: larger;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
}

.marginTop {
  margin-top: 50px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.bold {
  font-weight: 800;
}
.semiBold {
  font-weight: 700;
}

/*EFFETTI INTERATTIVI*/
.btnNew:hover, #telButton:hover {
  background-color: var(--colore1);
  transition: 350ms;
  padding: 7.5px;

}
.nav-link:hover {
  background-color: var(--colore2);
  border-radius: 4px;
  transition: 200ms;
}

/*MEDIA QUERIES TABLET*/
@media screen and (min-width: 767px) and (max-width: 1023px) {}


/*MEDIA QUERIES LAPTOP*/
@media screen and (min-width: 1024px) {
  main {
    position: relative;
    top: 150px;
  }

  #header ul li {
    font-weight: 600;
    font-size: larger;
  }

  #logo img {
    margin-left: 7vw;
    height: 70px;
    width: auto;
  }

  #navBox {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menuList {
    display: flex;
    flex-direction: row;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .menuList a li {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    font-weight: 700;
    text-align: center;
    align-self: flex-end;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .menuList {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
  }

  #header {
    display: flex;
    justify-content: center;
  }

  #header ul {
    list-style: none;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 30vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  #focusPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3vh;
    width: 75%;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #partner {
    margin-bottom: 4vh;
    padding: 1vh 0;
    width: 100%;
    max-width: inherit;
    height: auto;
  }

  #galleria {
    height: auto;
  }

}