*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }
    html{
    font-size: 16px;
    scroll-behavior: smooth;
    }
    body{
    background-color: whitesmoke
    }
    
    :root {
      /* --colore1: #00c9a6; */
      --colore1: #00DCFF;
      --colore2: #4E9BAE;
      --colore3: #E5FEFF;
      --colore4: #372b4a;
      --text1: #E6F4F1;
      --text2: rgba(254, 255, 249, 1);
  }
    
    /*NAVBAR*/
    #header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--colore1) !important;
    }
    #header ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;   
    }

    #hamburger{
      background-color: var(--colore2) !important;
    }
    
    #logo {
    width: 25vw;
    height: auto;
    min-width: 200px;
    max-width: 300px;  
    min-height: 40px;
    max-height: 80px;
    }
    
    #header-img{
    width: 100%;
    height: auto;
    min-width: 220px;
    margin: 8px 0px;
    }
    
    a{
    text-decoration: none;
    color: var(--colore4);
    }
    
    .nav-link{
    width: auto;
    text-align: left;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    margin: auto 2vw;  
    font-size: 1.2em
    }
    /*MAIN*/
    
    main{
    position: absolute;
    top: 8vh; 
    z-index:-1;
    height:90vh;
    }
    .callTo{
    padding-bottom: 200px;
    }
    
    form{  
    width: 100%;  
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    form input{
    width: 30vw;
    height: 1.5rem;
    max-width: 400px;
    margin: 25px auto;
    align-self: center;  
    display: block;  
    }
    
    /*bottoni*/
    .btnNew{
    background-color: var(--colore2);
    border-radius: 8px;
    height: 1.9rem;
    margin: 25px auto;
    align-self: center;  
    display: block; 
    max-width: 200px;  
    min-width: 150px;
    font-weight: 600;  
    color: #070604;
    padding: 2px;
    }
    
    .email{
    max-width: 200px; 
    min-width: 150px; 
    }
    
    #Premium{
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    display: block;
    margin: 1rem auto
    }
    #Materials{
    width: 77vw;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    }
    #Materials div{
    margin: 8px auto
    }
    .icon{
    margin: auto;
    }
    .features{
      padding-right: 20px
      }
    
    i{color: var(--colore1);
    }
    
    /*VIDEO*/
    #video{
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    padding: 1vh 0;
    background-color: transparent;
    width: 70vw;
    max-width: 700px;
    height: 40vh;
    border: none;
    }
    
    iframe{ 
    height: 100%;  
    width: 100%;
    }
    
    /*CARD*/
    #pricing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem auto;
    max-width: 73vw;
    }
    
    .card{
    width: 80%;
    max-width: 300px;
    min-width: 200px;
    height: 30vh;
    min-height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--colore1);
    border: 1px solid grey;
    overflow: hidden;
    }
    
    .headingCard{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    background-color: var(--colore2);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .cardBody{
    margin: 20px auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start
    }
    
    .card > .cardBody > p:first-child {
      color: var(--text2);
      margin: 0 auto;
      font-size: 1.3em;
      margin-bottom: 10px;
    }
    
    footer{
    position: relative;
    bottom: 0;
    height: 6vh;
    width: 100%;
    background-color: var(--colore1);
    }
    
    /*GENERICS*/
    .grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
    }
    .start{
    display: flex;
    justify-content: start;
    } 
    
    .marginTop{
    margin-top: 50px;
    
    }
    .toTop{
    position: fixed; 
    top: 0;
    z-index: 100;
    }
    .w-100{
    width: 100%;
    }
    .bold{
    font-weight: 700;
    }
    PT2{
    margin-top: 3rem
    }
    
    .bg1{
    background-color: var(--colore2);
    }
    .bg2{
    background-color: var(--colore3);
    }
    
    /*effetti*/
    .btnNew:hover  {
    background-color: var(--colore3);
    transition: 350ms;
    padding: 7.5px ;
    
    }
    
    li:hover{
    background-color: var(--colore3);
    padding: 7px;
    border-radius: 4px;
    transition: 200ms;
    
    }
    /*MEDIA QUERIES*/
    @media screen and (max-width: 778px){
    
    #pricing{
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    }
    
    .btnNew{
    background-color: var(--colore2);
    border-radius: 8px;
    height: 28px;
    max-width: 200px;
    min-width: 150px;  
    margin: 25px auto;
    align-self: center;  
    display: block; 
    }
    
    }
    
    @media screen and (min-width: 1024px){
      .nav-link{
        color:black;
        font-size: 1.5em;
        margin: 10px 10px 0px 10px;
        align-self: end
      }
      #header{
        display: flex;
        justify-content: center; 
      }
      #header ul {
        margin: auto -13vw auto 13vw
      }
    }